
/* 
  REQUIRED SETUP
  Import this file once in your app's base react file:

  import "@/styles/scroll-container.css";
*/



/* ------------------------------------------------------------------
   Root layout setup
   ------------------------------------------------------------------ */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

/* ------------------------------------------------------------------
   React root container (ONLY scroll container)
   ------------------------------------------------------------------ */

#root {
  height: 100%;
  width: 100%;

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}