/* 
  REQUIRED SETUP
  Import this file once in your app's base react file:

  import "@/hooks/bodyScrollLock/bodyScrollLock.styles.css";
*/

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden; /* prevent body scroll */
}

#root {
  height: 100%;
  width: 100%;

  overflow-y: auto;   /* main scroll container */
  overflow-x: hidden; /* prevent horizontal drift */
  overscroll-behavior: none; /* Prevent Scroll Chaining */
  scrollbar-gutter: stable;
}

.modal,
.drawer {
  overscroll-behavior: contain;
}

/* For iOS */
.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
